// ======= ЦВЕТА =======

// ======= Основной цвет шрифта =======
$color_font: #000000;
// ======= Цвет заголовков =======
$color_title: #212121;
// ======= Цвет фона 1 =======
$bg_color1: #000000;
// ======= Цвет фона 2 =======
$bg_color2: #000000;
// ======= Основной цвет кнопки =======
$color_btn: #000000;